{% extends "layout.html" %}
{% block title %}Editor{% endblock %}
{% block content %}

<div class="container">
    <div class="gallery">

        <div class="card">
            <img src="{{ url_for('static', filename=photo) }}" alt="{{ photo.name }}">
            <div class="card-body">
                <h3>{{ photo.filename }}</h3>
                <p>{{ photo.description }}</p>
                <a href="{{ url_for('static', filename=photo) }}" class="btn-d">Download</a>
            </div>
        </div>
        
        <!-- <div class="loader"></div>  -->

    </div>
</div>

{% endblock %}